.hint-text {
    /* font-style: italic; */
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    text-align: center
}

.chartHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barChart{
    max-width: 100%;
    max-height: 400px;
    /*height: 270px;
    width: 270px;*/
}