.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-history {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f4f6f9;
}
.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar-history {
    flex: 0.5;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f4f6f9;
}

.chat-message {
    margin-bottom: 10px;
}

.user-message {
    text-align: right;
    background-color: #0070d2;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}

.bot-message {
    text-align: left;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}

.chat-input {
    display: flex;
    padding: 20px;
    background-color:white;
}

.message-input {
    flex: 1;
    margin-right: 10px;
}

.send-button {
    align-self: flex-end;
}
.logo-container {
    text-align: left;
    
}

.company-logo {
    width: 100px; /* Adjust the size as needed */
    height: auto; /* Adjust the size as needed */
}